<%
  social_icons = content.entries(content_type: 'socialIcons')
%>
<section class='social-icons'>
  <% social_icons.each do |icon| %>
    <% icon_image = icon.fields[:image] %>
    <a href="<%= icon.fields[:pageUrl] %>">
      <img src="<%= icon_image.image_url %>" title="<%= icon_image.title %>" alt="<%= icon_image.description %>" />
    </a>
  <% end %>
</section>
