<div class="container">
  <h1>Ash Wednesday</h1>
  <%= partial 'partials/social_icons' %>
  <div class='album-cover'>
    <img src="<%= content.asset('7Id3BAjVviW6qYGum0IoeK').image_url %>" />
  </div>
  <footer>
    rapashwednesday@gmail.com
  </footer>
</div>
